<button class="btn btn-info" (click)="showAddComment()"> Add Comment</button>
<div *ngIf="isAddComment">
    <app-add-comment (addingDone)="isAddedUser($event)"></app-add-comment>
</div>
<div class="overflow h-75">

    <div *ngFor="let item of comments" class=" border border-2 mt-2 ">
        <div class="col">
            Posted by: {{item.user.username}} 
        </div>
        <div class="col  border-top border-primary">
            Date: {{item.created_at | date:'yyyy-MM-dd h:mm'}}
        </div>
        <div class="col  border-top border-primary">
            Comment: {{item.body}}
        </div>
    </div>
</div>
